---
import "./Timeline.css";
---

<div class=" flex justify-center ml-1/2">
    <div class="outer">
        <div class="card">
            <div class="info">
                <h3 class="title">12h30</h3>
                <p>
                    Village de départ
                </p>
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3 class="title">14h30</h3>
                <p>
                    Départ du parcours marche
                </p>
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3 class="title">15h30</h3>
                <p>
                    Départ du parcours course
                </p>
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3 class="title">17h30-20H</h3>
                <p>
                    Navettes retour
                </p>
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3 class="title">Title 5</h3>
                <p>
                    Fermeture du village associatif
                </p>
            </div>
        </div>
    </div>
</div>