---
import Button from "./Button.astro";---

<div class="m-12 bg-gray-100 px-8 py-6 flex flex-col items-center justify-center gap-2 rounded-xl text-xl hover:bg-gray-300 transition">
    <slot/>
    <a href="https://assos.utc.fr/woolly/ventes/179">
        <Button color="secondary">
            Acheter
        </Button>
    </a>
</div>