@font-face{
    font-family: 'Poppins';
    src: url('/Users/myrtilleknockaert/Desktop/UTC/VDH/public/fonts') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

main{
    background: whitesmoke;
}

h1{
    color: #606C38;
}
.main {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    font-family: Poppins, sans-serif;
    background: #606C38;
}
h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    color: #FAF4D3;
}
.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
}
.instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
}
.instructions strong {
    color: rgb(var(--accent));
}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

hr{
    color: #FAF4D3;
    width: 1250px;
    align-content: center;
    margin-left: 80px;
}


.background{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

:root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
}

.timeline{
    display: flex;
    justify-content: center;
}
/* Card container */
.card {
    position: relative;
    max-width: 100%;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid orangered;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}

/* Title of the card */
.title {
    color: #D95D39;
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid #D95D39;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
    left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
    right: -45px;
}

.logoNavbar{
    @apply left-1 translate-x-0 top-1 w-20 h-20
}

.presentation{
    color: #FAF4D3;
}
