@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins,sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    font-family: Poppins, sans-serif;
}
h1 {
    color: #212121;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

.background{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.logoNavbar{
    @apply left-1 translate-x-0 top-1 w-20 h-20
}

.presentation{
    color: #606C38;
}

.blabla{
    @apply opacity-0 opacity-100
}

.point{
    font-weight: bolder;
    /*font-size: 26px;*/
}

.spanTitle{
    /*font-family: "Avenir Next", sans-serif;*/
    font-weight: bolder;
    /*font-size: 55px;*/
    /* text-transform: uppercase; */
    letter-spacing: 0.05em;
    display: inline-block;
    position: relative;

    @apply text-3xl lg:text-5xl
}


.spanTitle:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(filter-content);

    filter: url(#motion-blur-filter);
}

