---
import Layout from '../layouts/Layout.astro';
import './home.css'
import Header from '../components/ui/header.astro'
import MapSection from '../components/ui/organisms/MapSection/MapSection.astro'
import FAQ from '../components/ui/organisms/FAQ/FAQ.astro'
import Footer from '../components/ui/footer.astro'
import nature from '../../public/nature.jpg'
import logo from '../../public/logoVdh.png'
---

<Layout title="Welcome to VDH.">
	<main>
		<img src={nature} alt="background" class="background">
		<img src={logo} alt="logo vdh" class="logo  h-48 w-48 absolute left-1/2 -translate-x-1/2 top-14">
		<div class="main">
			<h1>Welcome to <span class="text-gradient">VDH</span></h1>
			<MapSection/>
			<FAQ question="La course est-elle ouverte aux personnes à mobilité réduite ?" reponse="Oui, la course est ouverte aux personnes à mobilité réduite"/>
			<hr>
			<FAQ question="Comment récupérer mon dossard ?" reponse="Au départ de la course"/>
			<hr>
			<FAQ question="Où mettre mes affaires pendant la course ? Y aura-t-il des casiers ?" reponse="Oui, il y a des vestiaires pour poser des petites affaires, mais pas de places pour les gros sacs à dos."/>
			<hr>
			<FAQ question="A quelle heure dois-je arriver le jour de la course ?" reponse="Pour le départ marche entre 14h et 15h et pour le départ cours entre 15h et 16h"/>
			<hr>
			<FAQ question="Puis-je marcher pendant la course ?" reponse="Oui, il est possible de marcher pendant la course"/>
			<hr>
			<FAQ question="A qui est destinée cette course ?" reponse="La course est destinée à tous : enfants, parents, adolescents, adultes, sénior"/>
		</div>
		<Footer/>
	</main>
</Layout>

<script>
	// script for FAQ items
	for (const faqDiv of document.querySelectorAll('.faq')) {
		const buttonChild = faqDiv.querySelector('#button')
		buttonChild.addEventListener('click',()=>{
			if (faqDiv.style.maxHeight === "30px") {
				faqDiv.style.maxHeight = "60px"
			} else {
				faqDiv.style.maxHeight = "30px"
			}
		})
	}
</script>

