.title{
    @apply text-3xl lg:text-5xl relative tracking-wider font-bold
}

.title:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(filter-content);
    filter: url(#motion-blur-filter);
}

