.faq{
    font-family: Poppins,sans-serif;
    color: black;
    padding-left: 80px;
    padding-right: 80px;
}

.div_question{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.question{
    font-size: 16px;
    font-weight: bolder;
}

.reponse{
    font-weight: normal;
}
.plus{
    width:30px;
    fill:black;
}