---
import FAQ from "./FAQ.astro";
---

<div class="pt-12 pt-12 p-20">
    <h1 id="faq" class="text-center pb-12">Une question ? </h1>
    <FAQ
            question="Où commence la course ?"
            reponse="Elle commence au niveau du parvis du centre Benjamin Franklin de l’Université de Technologie de Compiègne (Rue Roger Couttolenc)."
    />
    <hr/>
    <FAQ
            question="Ou se termine la course ?"
            reponse="Elle finit au niveau de la place des Treilles à Armancourt"
    />
    <hr/>
    <FAQ
            question="Est-ce que le village de départ et le village d’arrivée sont ouverts au public ?"
            reponse="Oui ils le sont. Attention, l’alcool extérieur, la drogue ou tout objet dangereux (objet tranchant, aérosol,...) sont interdits sur ces villages."
    />
    <hr/>
    <FAQ
            question="A quelle heure dois-je arriver le jour de la course ?"
            reponse="Pour le départ marche entre 14h et 15h et pour le départ cours entre 15h et 16h"
    />
    <hr/>
    <FAQ
            question="La course est-elle ouverte aux personnes à mobilité réduite ?"
            reponse="Oui, la course est ouverte aux personnes à mobilité réduite"
    />
    <hr/>
    <FAQ
            question="Comment récupérer mon dossard ?"
            reponse="Au départ de la course au niveau du village de départ."
    />
    <hr/>
    <FAQ
            question="Y aura-t-il un vestiaire pour poser ses affaires ?"
            reponse="Malheureusement non, n’emmène que le nécessaire!"
    />
    <hr/>
    <hr/>
    <FAQ
            question="Puis-je marcher pendant la course ?"
            reponse="Oui, il est possible de marcher pendant la course. Le départ marche est à 14h30."
    />
    <hr/>
    <FAQ
            question="A qui est destinée cette course ?"
            reponse="La course est destinée à tous : enfants, parents, adolescents, adultes, sénior"
    />
    <hr/>
    <FAQ
            question="Que faire s’il m’arrive quelque chose pendant la course ?"
            reponse="Pas d’inquiétude, une équipe de secourisme sera sur place"
    />
    <hr/>
    <FAQ
            question="A quoi j’aurai le droit sur les stands ?"
            reponse="Oui, il est possible de prendre le même tarif de 10€ que les mineurs."
    />
    <hr/>
    <FAQ
            question="Si je ne bois pas d’alcool, ai-je le droit à un tarif ?"
            reponse="Il y aura une bière par personne par stand, des softs ainsi que de la nourriture à volonté le long du parcours. Il ne faut pas oublier qu’il y aura 4 stands pendant le parcours donc essayez de répartir votre consommation de nourriture sur le parcours !"
    />
    <hr/>
    <FAQ
            question="Si je ne bois pas d’alcool, ai-je le droit à un tarif ?"
            reponse="Il y aura une bière par personne par stand, des softs ainsi que de la nourriture à volonté le long du parcours. Il ne faut pas oublier qu’il y aura 4 stands pendant le parcours donc essayez de répartir votre consommation de nourriture sur le parcours !"
    />
    <hr/>
    <FAQ
            question="Puis-je courir avec une poussette ?"
            reponse="Oui c’est possible. Tous les véhicules sont possibles sauf ceux électriques."
    />
    <hr/>
    <FAQ
            question="Dois-je fournir un certificat lors de mon inscription ?"
            reponse=" Non, il ne faut pas de certificat médical."
    />
    <hr/>
    <FAQ
            question="La place est-elle remboursable ?"
            reponse="Non, la place n’est pas remboursable."
    />
    <hr/>
    <FAQ
            question="Si je ne veux pas terminer la course, puis-je couper le parcours ?"
            reponse="Non ce n’est pas possible."
    />
    <hr/>
    <FAQ
            question=" Mes enfants peuvent-ils faire la course en vélo, trottinette ou roller ?"
            reponse="Oui c’est possible tant que ça n’est pas un véhicule électrique."
    />
    <hr/>
    <FAQ
            question=" Y a t il une sécurité?"
            reponse="Oui, il y aura une sécurité au village de départ et au village d’arrivée afin de fouiller les sacs et contrôler les billets."
    />
    <hr/>
    <FAQ
            question="Est-il possible de se perdre ?"
            reponse="Non, il y aura des signaleurs et de la signalétique tout le long du parcours."
    />





</div>