---
import './footer.css'
import instagram from '../../../public/instagram.png'
import { Icon } from 'astro-icon'
---

<div class="footer">
    <Icon pack="mdi" name="instagram" class="w-12 h-12" />
</div>