---
import instagram from '../../../public/instagram.png'
import { Icon } from 'astro-icon'
---

<div class="footer text-white text-sm text-center bg-[#283618] flex flex-col space-y-5 p-3">
    <div class="flex flex-row justify-center">
        <a href="https://www.instagram.com/voie_du_houblon/" title="Instagram" target="_blank">
            <Icon pack="mdi" name="instagram" class="w-10 h-10 text-white" />
        </a>
        <a href="https://www.facebook.com/marcel.voieduhoublon.3" title="Facebook" target="_blank">
            <Icon pack="mdi" name="facebook" class="w-10 h-10 text-white" />
        </a>
    </div>
    <p>
        Crédits image : Loïck Jumel
        <br/>
        © 2023 Voie du Houblon
    </p>
</div>