---
import './footer.css'
import instagram from '../../../public/instagram.png'
import { Icon } from 'astro-icon'
---

<div class="footer text-white text-center bg-[#283618]">
    <div class="flex flex-row justify-center">
        <a href="https://www.instagram.com/voie_du_houblon/" title="Instagram" target="_blank">
            <Icon pack="mdi" name="instagram" class="w-12 h-12 text-white" />
        </a>
        <a href="https://www.facebook.com/marcel.voieduhoublon.3" title="Facebook" target="_blank">
            <Icon pack="mdi" name="facebook" class="w-12 h-12 text-white" />
        </a>
    </div>
    <p>
        Crédits :
        - Vidéo : SSP
        - Images : Solène Houlliez et Tiffany Legrain
    </p>
</div>