.buttons{
    font-family: Poppins,sans-serif;
    font-size: 16px;
    display: flex;
    position: fixed;
    z-index: 50;
    max-width: 100%;
    left: 50%;
    justify-content: center;
    align-items: center;

}

a{
    position: relative;
    text-decoration: none;
    color: #212121;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a:after{
    content: "";
    position: absolute;
    background-color: #D95D39;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a:hover{
    color: #D95D39;
}
a:hover:after{
    width: 100%;
}


.button_billeterie {
    background-color: #D95D39;
    border-radius: 100px;
    color: #FAF4D3;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 50px;
}

.button_billeterie:hover {
    transform: scale(1.05) rotate(-1deg);
}