---
import './header.css'
---

<header class="flex space-x-4 top-0 left-0 fixed z-50 h-20 items-center -translate-y-64 transition-all bg-gray-50 w-screen justify-center">
    <a class="onglet" role="button">L'évènement</a>
    <a class="onglet" role="button">Le parcours</a>
    <a class="onglet" role="button">Village d'arrivée</a>
    <a class="onglet" role="button">FAQ</a>
    <button class="button_billeterie" role="button">Acheter un billet</button>
</header>
