---
import './header.css'
import logoVDH from '../../../public/logoVdh.png'
---

<div class="navbar">
    <img src={logoVDH} alt="Logo Vdh" style="width: 110px">
    <div class="buttons">
        <button class="button-33" role="button">L'évènement</button>
        <button class="button-33" role="button">Le parcours</button>
        <button class="button-33" role="button">Village d'arrivée</button>
        <button class="button-33" role="button">FAQ</button>
        <button class="button_billeterie" role="button">Acheter un billet</button>
    </div>
</div>
