---
import './header.css'
import logo from "../../../public/logoVdh.png";
---

<header
        class="w-screen -translate-y-64 transition-all bg-gray-50 fixed z-50 h-20 w-screen top-0 flex justify-between items-center px-10"
        href="main"
>
    <a href="#debut">
        <img
                src={logo}
                alt="logo vdh"
                id="logo"
                class="h-16 w-16"
                href="#debut"
        />
    </a>
    <div class="flex space-x-4 top-0 left-0 justify-end h-full items-center">
        <a class="onglet" role="button" href="#presentation">L'évènement</a>
        <a class="onglet" role="button" href="#presentation" >Le parcours</a>
        <a class="onglet" role="button" href="#presentation">Village d'arrivée</a>
        <a class="onglet" role="button" href="#presentation">FAQ</a>
        <button class="button_billeterie" role="button" href="#presentation">Acheter un billet</button>
    </div>
</header>
