.onglet{
    position: relative;
    text-decoration: none;
    color: #212121;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.onglet:after{
    content: "";
    position: absolute;
    background-color: #D95D39;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.onglet:hover{
    color: #D95D39;
}
.onglet:hover:after{
    width: 100%;
}
