---
---

<section class="bg-myGreen">

    <h2 class="spanTitle md:py-12 py-3 text-white text-center w-full ">Horaires</h2>


    <svg viewBox="0 0 300 100" class="hidden md:block">
        <line x1="0" y1="50" x2="300" y2="50" stroke="#283618" stroke-linecap="round"/>

        <circle r="0.5" cx="54" cy="50" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="54" cy="50" stroke="#283618" fill="#00000000"/>
        <line x1="54" y1="45" x2="54" y2="30" stroke="#283618" stroke-width="0.5"/>
        <text x="54" y="20" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">12h30</text>
        <text x="54" y="25" font-size="3px" text-anchor="middle" font-weight="400" fill="white">Ouverture du village
            de départ
        </text>

        <circle r="0.5" cx="102" cy="50" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="102" cy="50" stroke="#283618" fill="#00000000"/>
        <line x1="102" y1="55" x2="102" y2="70" stroke="#283618" stroke-width="0.5"/>
        <text x="102" y="75" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">14h30</text>
        <text x="102" y="80" font-size="3px" text-anchor="middle" font-weight="400" fill="white">Début du parcours
            marche
        </text>

        <circle r="0.5" cx="150" cy="50" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="150" cy="50" stroke="#283618" fill="#00000000"/>
        <line x1="150" y1="45" x2="150" y2="30" stroke="#283618" stroke-width="0.5"/>
        <text x="150" y="20" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">15h30</text>
        <text x="150" y="25" font-size="3px" text-anchor="middle" font-weight="400" fill="white">Départ du parcours
            course
        </text>

        <circle r="0.5" cx="198" cy="50" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="198" cy="50" stroke="#283618" fill="#00000000"/>
        <line x1="198" y1="55" x2="198" y2="70" stroke="#283618" stroke-width="0.5"/>
        <text x="198" y="75" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">17h30-20h</text>
        <text x="198" y="80" font-size="3px" text-anchor="middle" font-weight="400" fill="white">Navettes retour
        </text>

        <circle r="0.5" cx="246" cy="50" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="246" cy="50" stroke="#283618" fill="#00000000"/>
        <line x1="246" y1="45" x2="246" y2="30" stroke="#283618" stroke-width="0.5"/>
        <text x="246" y="20" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">20h</text>
        <text x="246" y="25" font-size="3px" text-anchor="middle" font-weight="400" fill="white">Fermeture du
            village associatif d'arrivée
        </text>
    </svg>

    <svg viewBox="0 0 100 300" class="md:hidden block">
        <line x1="50" y1="0" x2="50" y2="300" stroke="#283618" stroke-linecap="round"/>

        <circle r="0.5" cx="50" cy="54" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="50" cy="54" stroke="#283618" fill="#00000000"/>
        <line x1="10" y1="54" x2="45" y2="54" stroke="#283618" stroke-width="0.5"/>
        <text x="25" y="45" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">12h30</text>
        <text x="25" y="50" font-size="3px" text-anchor="middle" font-weight="400" fill="white">Ouverture du village
            de départ
        </text>

        <circle r="0.5" cx="50" cy="102" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="50" cy="102" stroke="#283618" fill="#00000000"/>
        <line x1="55" y1="102" x2="90" y2="102" stroke="#283618" stroke-width="0.5"/>
        <text x="75" y="92" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">14h30</text>
        <text x="75" y="97" font-size="3px" text-anchor="middle" font-weight="400" fill="white">Début du parcours
            marche
        </text>

        <circle r="0.5" cx="50" cy="150" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="50" cy="150" stroke="#283618" fill="#00000000"/>
        <line x1="10" y1="150" x2="45" y2="150" stroke="#283618" stroke-width="0.5"/>
        <text x="25" y="140" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">15h30</text>
        <text x="25" y="145" font-size="3px" text-anchor="middle" font-weight="400" fill="white">Départ du parcours
            course
        </text>

        <circle r="0.5" cx="50" cy="198" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="50" cy="198" stroke="#283618" fill="#00000000"/>
        <line x1="55" y1="198" x2="90" y2="198" stroke="#283618" stroke-width="0.5"/>
        <text x="75" y="188" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">17h30-20h</text>
        <text x="75" y="193" font-size="3px" text-anchor="middle" font-weight="400" fill="white">Navettes retour
        </text>

        <circle r="0.5" cx="50" cy="246" fill="#DDDDDD" stroke="#DDDDDD"/>
        <circle r="1.5" cx="50" cy="246" stroke="#283618" fill="#00000000"/>
        <line x1="10" y1="246" x2="45" y2="246" stroke="#283618" stroke-width="0.5"/>
        <text x="25" y="231" font-size="4px" text-anchor="middle" font-weight="600" fill="#ff9e1f">20h</text>
        <text x="25" y="236" font-size="3px" text-anchor="middle" font-weight="400" fill="white">
            Fermeture du village
        </text>
        <text x="25" y="241" font-size="3px" text-anchor="middle" font-weight="400" fill="white">
            associatif d'arrivée
        </text>
    </svg>
</section>
